.primary {
    background-color: var(--primary);
    padding-inline: 1.5rem;
    height: 40px;
    font-family: var(--font-inter);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.primary:hover {
    background-color: #e6c36d
}

@media screen and (max-width: 576) {
    
}
