.primary {
    background-color: var(--primary);
    padding-inline: 1rem;
    height: 45px;
    font-family: var(--font-libre-baskerville);
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    .primary { 
        height: 28px;
        font-size:12px;
    }
}
