.container {
    width: 100%;
    color: white;
    font-family: var(--font-inter);
    font-weight: 400;
    background-color: rgb(42, 42, 42);
    padding: 0 4rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
}

.logo {
    height: 2rem;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-align: center;
    padding: 1rem;
    transition: background 0.3s ease;
}

.nav-link:hover {
    background: #FFD700;
    color: black;
}

.github-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-button {
    display: none;
}

@media screen and (max-width: 768px) {
    .github-buttons {
        display: none;
    }
    
    .nav-links {
        display: none;
    }

    .menu-button {
        display: block;
    }
}
