.container {
    width: 100%;
    background-color: var(--light-gray);
    padding-block: 1.5rem;
    padding-inline: 4rem;
    font-family: var(--font-libre-baskerville);
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo { 
    position: absolute;
    left: 1rem;
}

.right-wing {
    position: absolute;
    right: 1rem;
}

@media screen and (max-width: 480px) {
    .nav-links {
        font-size: 11.5px;
        gap: 0.5rem;
    }
    .logo {
        width: 32px;
        height: 32px;
    }
    .container {
        padding-inline: 0.5rem;
        padding-block: 0.75rem;
    }
}