.container {
    padding-inline: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.contentContainer {
    max-width: 768px;
}

.par {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 0.5rem;
}
