:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-gray: #EDEDED;
  --primary: #FBD679;
  
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;  /* Resets all properties */
  background: none; /* Removes background */
  border: none; /* Removes border */
  padding: 0; /* Removes padding */
  font: inherit; /* Inherits font from parent */
  cursor: pointer; /* Ensures the button has a pointer cursor */
}

h1 {
  font-weight: 400;
  font-size: 36px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
